{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "talk" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

<p style="width: 400px">
  This little chatbot shows how easy it is to incorporate
  <a href="https://aws.amazon.com/lex/" title="Amazon Lex (product)" target="_new">Amazon Lex</a> into your web pages.  Try it out.
</p>
<div id="conversation" style="width: 400px; height: 400px; border: 1px solid #ccc; background-color: #eee; padding: 4px; overflow: scroll"></div>
<form id="chatform" style="margin-top: 10px" onsubmit="return pushChat();">
<input type="text" id="wisdom" size="80" value="" placeholder="I need a hotel room">
</form>
<script type="text/javascript">
  // set the focus to the input box
  document.getElementById("wisdom").focus();

  // Initialize the Amazon Cognito credentials provider
  AWS.config.region = 'us-east-1'; // Region
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
    // Provide your Pool Id here
    IdentityPoolId: 'us-east-1:XXXXX',
  });

  var lexruntime = new AWS.LexRuntime();
  var lexUserId = 'chatbot-demo' + Date.now();
  var sessionAttributes = {};

  function pushChat() {
    // if there is text to be sent...
    var wisdomText = document.getElementById('wisdom');
    if (wisdomText && wisdomText.value && wisdomText.value.trim().length > 0) {

    // disable input to show we're sending it
    var wisdom = wisdomText.value.trim();
    wisdomText.value = '...';
    wisdomText.locked = true;

    // send it to the Lex runtime
    var params = {
    botAlias: '$LATEST',
    botName: 'BookTrip',
    inputText: wisdom,
    userId: lexUserId,
    sessionAttributes: sessionAttributes
    };
    showRequest(wisdom);
    lexruntime.postText(params, function(err, data) {
    if (err) {
    console.log(err, err.stack);
    showError('Error:  ' + err.message + ' (see console for details)')
    }
    if (data) {
    // capture the sessionAttributes for the next cycle
    sessionAttributes = data.sessionAttributes;
    // show response and/or error/dialog status
    showResponse(data);
    }
    // re-enable input
    wisdomText.value = '';
    wisdomText.locked = false;
    });
    }
    // we always cancel form submission
    return false;
  }

  function showRequest(daText) {
    var conversationDiv = document.getElementById('conversation');
    var requestPara = document.createElement("P");
    requestPara.className = 'userRequest';
    requestPara.appendChild(document.createTextNode(daText));
    conversationDiv.appendChild(requestPara);
    conversationDiv.scrollTop = conversationDiv.scrollHeight;
  }

  function showError(daText) {
    var conversationDiv = document.getElementById('conversation');
    var errorPara = document.createElement("P");
    errorPara.className = 'lexError';
    errorPara.appendChild(document.createTextNode(daText));
    conversationDiv.appendChild(errorPara);
    conversationDiv.scrollTop = conversationDiv.scrollHeight;
  }

  function showResponse(lexResponse) {
    var conversationDiv = document.getElementById('conversation');
    var responsePara = document.createElement("P");
    responsePara.className = 'lexResponse';
    if (lexResponse.message) {
    responsePara.appendChild(document.createTextNode(lexResponse.message));
    responsePara.appendChild(document.createElement('br'));
    }
    if (lexResponse.dialogState === 'ReadyForFulfillment') {
    responsePara.appendChild(document.createTextNode(
    'Ready for fulfillment'));
    // TODO:  show slot values
    } else {
    responsePara.appendChild(document.createTextNode(
    '(' + lexResponse.dialogState + ')'));
    }
    conversationDiv.appendChild(responsePara);
    conversationDiv.scrollTop = conversationDiv.scrollHeight;
  }
</script>


{{/* Header image */}}
{{ if and .Params.header.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{ $img_src := urls.Parse .Params.header.image }}
  {{ if $img_src.Scheme }}
  <img src="{{ .Params.header.image }}" class="article-banner" alt="">
  {{ else }}
  <img src="{{ (printf "/img/%s" .Params.header.image) | relURL }}" class="article-banner" alt="">
  {{ end }}

  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

{{/* Featured image layout */}}
{{ if and $featured (not .Params.image.preview_only) }}

{{/* Fit image within max size. */}}
{{ $image := $featured }}

{{/* Determine image placement. */}}
{{ $placement := .Params.image.placement | default 1 }}{{/* Default to full column width. */}}
{{ $image_container := "" }}
{{ if eq $placement 2}}
  {{ $image_container = "container" }}
  {{ if gt $featured.Width 1200 }}
    {{ $image = $featured.Resize "1200x" }}
  {{ end }}
{{else if eq $placement 3}}
  {{ $image_container = "container-fluid" }}
  {{ $image := $featured.Fit "2560x2560" }}
{{else}}
  {{ $image_container = "article-container" }}
  {{ if gt $featured.Width 720 }}
    {{ $image = $featured.Resize "720x" }}
  {{ end }}
{{end}}

<div class="article-container pt-3">
  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>

{{/* Featured image */}}
<div class="article-header {{$image_container}} featured-image-wrapper mt-4 mb-4" style="max-width: {{$image.Width}}px; max-height: {{$image.Height}}px;">
  <div style="position: relative">
    <img src="{{ $image.RelPermalink }}" alt="{{ with $.Params.image.alt_text }}{{.}}{{ end }}" class="featured-image">
    {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
</div>
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "article-container" }}
  {{ if $page.IsNode }}
    {{ $ctnr = "universal-wrapper" }}
  {{end}}
<div class="{{$ctnr}} pt-3">
  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}}
